{% extends 'layout.html.twig' %}


{% block stylesheet %}{% endblock %}



{% block content %}

<div style="margin-top:200px" class="container">
    <h1>Message envoyé avec succès</h1>
    
    <p>Merci {{messagesContact.lastname}}, {{messagesContact.firstname}} pour votre message; <br>
    Nos équipes traiteront votre demande rapidement !</p>
    <p>Bonne journée</p>
    <p>L'équipe de Dave !</p>
    <a href="/" class="btn btn-action btn-lg" role="button">Accueil</a>
</div>







{% endblock %}