.aroundmeTitle {
    margin-top: 10rem;
}


.card {
    text-align: start;
    background-color: var(--color-beige);
    width: 80%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
}

.resultContainer {
    width: 100%;
}

.resultCards {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    row-gap: 1rem;
    margin-bottom: 100px;
    box-sizing: border-box;
}



@media screen and (min-width: 660px) and (max-width:1024px) {
    .resultCards
    {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
    }
} 

@media screen and (min-width: 1024px) {
    .resultCards
    {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
    }
} 